
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: black;
  color: grey;
  padding: 10px;
}

/* Header/Blog Title */
.header {
  text-align: center;
  background-color: #aaa;
  padding: 30px;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

/* Change color on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  background: #f1f1f1;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: black;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  float: center;
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  text-align: center;
  background: #333;
  margin-top: 20px;
  padding: 10px;
}

/* 
Responsive layout - 
when the screen is less than 800px wide, 
make the two columns stack on top of each other 
instead of next to each other 
*/
@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - 
when the screen is less than 400px wide, 
make the navigation links stack on top of each other 
instead of next to each other 
*/
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
